@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;600;700&family=Raleway:wght@300;400;500&display=swap');

.seccion-productos {
    padding: 3rem 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.producto-title {
    font-family: "DM Sans", sans-serif;
    font-size: 2rem;
    background-color: #1E12A4;
    color: #F1EFEF;
    text-align: center;
    margin-bottom: 2rem;
    border-radius: 10px;
}


.tarjetas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem;
    max-width: 10000px;
    margin: 0 auto;
}


.tarjeta-producto {
    background-color: #F1EFEF;
    border-radius: 20px;
    height: 250px; 
}



